<p>costumers works!</p>

<div class="card" *ngFor="let costumers of costumers">
    <div>ID:{{costumers.id}}</div>
    <div>Nome:  {{costumers.name}}</div>
    <div>email: {{costumers.email}}</div> 
    <div>Phone: {{costumers.phone}}</div>
    <div>Adress:{{costumers.address}} </div>
    <div>Order: {{costumers.Order || 'Nessun Ordine'}}</div>
    <div>Data Inserimento: {{formatDate(costumers.createdAt)}}</div>
    <div>Data ultima modifica: {{formatDate(costumers.updatedAt)}}</div>
    
</div>
<div *ngIf="costumers.length === 0">
    No items found.
  </div>